<h1>Editing task</h1>
<%= turbo_frame_tag "modal" do %>
  <div class="modal">
    <%= render "form", task: @task %>
    <br>
    <div>
      <%= link_to "Cancel", '#', data:{
        controller: "modals",
        action: "modals#close"
      }, class: 'button' %>
    </div>
  </div>
<% end %>
