<%= turbo_frame_tag "modal" do %>
  <div class="modal">
    <h1>New task</h1>

    <%= render "form", task: @task %>

    <br>

    <div>
      <%= link_to "Cancel", "#", data:{
        controller: "modals",
        action: "modals#close"
      }, class: 'button' %>
    </div>
  </div>
<% end %>
