<%= render 'shared/navbar', show_home_page: false %>
<% if notice.present? %>
  <div class="notice">
    <p><%= notice %></p>
  </div>
<% end %>
<div class="container-wrapper" id="containers">
  <% current_user.containers.group_by(&:tag).each do |tag, containers| %>
      <% containers.each do | container | %>
          <%= render container %>
      <% end %>
  <% end %>
</div>

<div class="floating-buttons">
  <%= link_to 'New Container', new_container_path, data:{ turbo_frame: "modal" }, class: 'floating-button' %>
</div>
