<h1><%= current_user.email %></h1>
<% current_user.containers.each do |container| %>
  <h2><%= container.tag %></h2>
  <% container.tasks.each do |task| %>
    <p>
      <%= task.title %><br>
      <%= task.description %>
    </p>
  <% end %>
<% end %>

