<%= render 'shared/navbar', show_home_page: false %>
<%= javascript_include_tag 'contextMenu' %>
<div class="container-wrapper">
  <% current_user.containers.group_by(&:tag).each do |tag, containers| %>
      <% containers.each do | container | %>
          <%= render container %>
      <% end %>
  <% end %>
</div>

<div class="floating-buttons">
  <%= link_to 'New Container', new_container_path, class: 'floating-button' %>
</div>
