@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f5f5;
}

.button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #424242;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.delete-button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ccc;
  background-color: #ff3535;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.delete-button:hover {
  background-color: #c80000;
}

.button:hover {
  color: #006aff;
}

/* Tasks */
.task-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s ease-in-out;
  text-align: left; 
}

.task-card:hover {
  border-color: #007BFF; /* change border color on hover */
  box-shadow: 0 0 5px rgba(43, 146, 255, 0.586);
  color:rgb(0, 0, 0)
}

/* Containers */
.container-card {
  background-color: #fff;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
  max-width: 400px;
  text-align: center;
  text-decoration: none;
  color: #4f4f4f;
  border: 1px solid #e4e4e4;
  border-top: 10px solid #ccc; /* changed this line */
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Navbar */
.navbar {
  background-color: #fdfdfd;
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2); /* added this line */
}

.navbar-email {
  font-size: 18px;
  font-weight: 600;
}

.button, .sign-out-button {
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.sign-out-button {
  border: none;
  background-color: #e74c3c;
  color: #fff;
}

.sign-out-button:hover {
  background-color: #c0392b;
}

/* Devise */
.container {
  display: flex;
  flex-direction: column; /* added this line */
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.form-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form .field {
  margin-bottom: 20px;
}

.input {
  width: 380px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #2980b9;
}

.links {
  margin-top: 20px;
}

.links a {
  display: block;
  color: #3498db;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

/* Status */
.status-card {
  background-color: #fff;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  max-width: 400px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #e7e7e7;
}

/* Edit page */
.task-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.error-messages {
  color: #e74c3c;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #2980b9;
}
