@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f5f5;
}

.button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #424242;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.delete-button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ccc;
  background-color: #ff3535;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.delete-button:hover {
  background-color: #c80000;
}

.button:hover {
  color: #006aff;
}

/* Tasks */
.task-card {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px 20px;
  width: 300px;
  transition: border-color 0.2s ease-in-out;
  text-align: left;
  cursor: pointer;
}

.tasks-status-wrapper {
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
}

.task-card:hover {
  border-color: #007BFF;
  color: #007BFF;
}

.task-card p {
  font-size: small;
}

.task-card b {
  font-weight: normal;
}

/* Containers */
.container-card {
  background-color: #fff;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  max-width: 400px;
  text-align: center;
  text-decoration: none;
  color: #4f4f4f;
  border: 1px solid #e4e4e4;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Navbar */
.navbar {
  background-color: #fdfdfd;
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2);
}

.container-title {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-title b {
  font-size: large;
}

.navbar-email {
  font-size: 18px;
  font-weight: 600;
}

.button, .sign-out-button {
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.sign-out-button {
  border: none;
  background-color: #e74c3c;
  color: #fff;
}

.sign-out-button:hover {
  background-color: #c0392b;
}

/* Devise */
.container {
  display: flex;
  flex-direction: column; /* added this line */
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.form-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form .field {
  margin-bottom: 20px;
}

.input {
  width: 380px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #2980b9;
}

.links {
  margin-top: 20px;
}

.links a {
  display: block;
  color: #3498db;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

/* Edit page */
.task-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.error-messages {
  color: #e74c3c;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #2980b9;
}

/* status caret */
.status-card {
  background-color: #fff;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  max-width: 400px;
  text-align: left;
  text-decoration: none;
  border: 1px solid #e7e7e7;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.status-card-header b {
  font-size: small;
  padding: 0px 20px;
}

.status-card-header:hover {
  color: #007BFF;
}

.status-card[data-expanded="false"] .tasks-container {
  max-height: 0;
}

.caret {
  padding: 0px 15px;
  float: right;
  transition: transform 0.2s ease-out;
  transform: rotate(90deg);
}

.status-card[data-expanded="false"] .caret {
  transform: rotate(0deg);
}

.tasks-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.status-card[data-expanded="true"] .tasks-container {
  max-height: 1000px; /* Adjust to your content's needs */
}
/* tasks */
.task-count {
  font-size: small;
  float: right;
  margin-right: 10px;
  transition: opacity 0.2s ease-out;
}

.status-card[data-expanded="true"] .task-count {
  opacity: 0;
}

.status-card[data-expanded="false"] .task-count {
  opacity: 1;
}

.status-card-header {
  cursor: pointer;
}

/* Floating button */
.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999; /* Make sure it's on top of other elements */
}

.floating-button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.floating-button:hover {
  background-color: #0056b3;
}


/* Context menu */
.context-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0px;
  z-index: 999;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  color: #424242;
}

.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu li {
  font-size: small;
  padding: 5px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #f0f0f0;
  color: black;
}

.context-menu-delete {
  color: rgb(202, 0, 0)
}

.status-option {
  color: #007bff;
}

.hidden {
  display: none;
}

hr {
  border: 1px solid #91919133;
}
